$primary-color: #7C84EC;
$secondary-color: #4F58CA;

$primary-text-color: #7C84EC;
$secondary-text-color: #4F58CA;

$secondary-color-red-80: #c23841;

$supporting-color: #dde4e9;
$primary-color-40: #ecf0f1; 
$primary-color-20:#f3f6f9;

$supporting-color-light-blue-20: #e0ecf2;
$supporting-color-light-blue-80: #85b4ca;
$supporting-color-light-blue: #7C84EC; 

$primary-background: white;
$secondary-background: #f5f5f5;
$primary-blue-gradient: linear-gradient(to bottom, #1e5799 0%, #003868 0%, #3e6b91 100%);
$secondary-blue-gredient: linear-gradient(to bottom, rgba(254, 255, 255, 1) 0%, rgba(210, 235, 249, 1), 100%);

$body-font-color: black;

$control-background: white; 
$control-border: 1px solid $supporting-color-light-blue-80; 
$control-height: 30px; 
$separator-color: #eeeeee;

$panel-border-color: #bdc3c7; 
$panel-border-color-light: #eaecec;
$panel-background-color: #ecf0f1;

$primary-button-background: $primary-color; 
$primary-button-pseudo-background: $primary-color;
$primary-button-color: white;
$alternate-button-color: #34495e;
$primary-transition: all linear 100ms; 

$error-color-input: #ff7070;

// grid related variables
$grid-header-backgroundcolor: white; 
$grid-border-color: #bdc3c7;
$grid-border: 1px solid $grid-border-color !important; 
$grid-font-color: $body-font-color;
$grid-even-row-background: #eff3f7;
$grid-odd-row-background: $primary-background;
$grid-selected-rowbackcolor: $primary-color;
$grid-row-hover-color: $panel-background-color;
$grid-link-color: #337ab7; 

// color codes
$warning-color: #ffb606; 
$success-color: #4b9a25;
$info-color: #2d80b7;
$error-color: #c0392b;
$error-color-light: #f9cec4; 
$warning-header-color: #34495e; 

// TODO: only for Bootstrap 3.5 (remove it in future)
$brand-primary: darken(#428bca, 6.5%); // #337ab7 
$brand-success: #5cb85c;