<div class="carousel-container">
<carousel [interval]="2000">
  <slide>
    <img src="../../assets/images/1.png" alt="first slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <!-- <h3>...</h3>
      <p>...</p> -->
    </div>
  </slide>
  <slide>
    <img src="../../assets/images/2.png" alt="second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <!-- <h3>...</h3>
      <p>...</p> -->
    </div>
  </slide>
  <slide>
    <img src="../../assets/images/3.png" alt="third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <!-- <h3>...</h3>
      <p>...</p> -->
    </div>
  </slide>
</carousel>
</div>