.edit-in-place span {
    cursor: pointer;
}

.edit-in-place input {
    display: none;
    width: 100%;
}

.edit-in-place.active span {
    display: none;
}

.edit-in-place.active input {
    display: inline-block;
}