.form-horizontal {
    @media (max-width: 991px) {
        ::ng-deep core-field core-field {
        
            .form-group {
                margin-top: 10px;
            }
        }

        ::ng-deep .row:last-child > div:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    ::ng-deep .row:not(:last-child) .form-group {
        margin-bottom: 10px;
    }
    
    ::ng-deep core-field:last-child {
        .form-group {
            margin-bottom:0;
        }
    }
}

.margin-bottom { 
    ::ng-deep core-field {
        .form-group {
            margin-bottom: 0;
        }
    }
}